@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

*::selection,
* ::selection {
    background: var(--bg-highlighted);
}

p {
    margin-block: 0.75em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bolder;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}